<ul class="metismenu" id="menu">
    <li><a href="/panel/">داشبورد</a></li>
    <li>
        <a class="has-arrow ai-icon" href="#" aria-expanded="false">
            <i class="flaticon-025-dashboard"></i><span class="nav-text">نمره</span></a>
        <ul aria-expanded="false">
            <li><a href="/panel/scores/manage">ثبت نمره</a></li>
            <li><a href="/panel/scores/manage/report-sheet/">ثبت کارنامه</a></li>
            <li><a href="/panel/scores/students/chart/">نمودار دانش آموزان</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="#" aria-expanded="false"><i
                class="flaticon-041-graph"></i><span class="nav-text">منبع های آموزشی</span></a>
        <ul aria-expanded="false">
            <li><a href="/panel/resources/teaching/manage">آموزش</a></li>
            <li><a href="/panel/resources/sample-exam/manage">نمونه سؤال</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="has-arrow ai-icon" aria-expanded="false">
            <i class="flaticon-381-calendar-6"></i><span class="nav-text">کلاس ها</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="/panel/class/table/teacher">جدول زمانی</a></li>
        </ul>
    </li>
</ul>