{% extends 'panel/base.html' %}
{% load score_tag %}
{% block content %}
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="javascript:void(0)">صفحه اصلی</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">مدیریت نمرات کارنامه</a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">فرم مدیریت</h4>
                </div>
                <div class="card-body">
                    <div
                            id="smartwizard"
                            class="form-wizard order-create"
                    >
                        <ul class="nav nav-wizard">
                            <li>
                                <a
                                        class="nav-link"
                                        href="#select-class"
                                ><span>1</span></a
                                >
                            </li>
                            <li>
                                <a
                                        class="nav-link"
                                        href="#select-semester"
                                ><span>2</span></a
                                >
                            </li>
                            <li>
                                <a
                                        class="nav-link"
                                        href="#enter-scores"
                                ><span>3</span></a
                                >
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div
                                    id="select-class"
                                    class="tab-pane"
                                    role="tabpanel"
                            >
                                <div class="row">
                                    {% for taught_class in taught_classes %}
                                        <div class="col-lg-4 hoverable taught-class-item"
                                             onclick="setSelectedClass({{ taught_class.id }})">
                                            <div class="widget-stat card bg-dark" id="class-{{ taught_class.id }}">
                                                <div class="card-body p-4">
                                                    <div class="media">
                                                        <span class="me-3"><i class="la la-users"></i></span>
                                                        <div class="media-body text-white">
                                                            <p class="mb-1">{{ taught_class }}</p>
                                                            <h3 class="text-white">{{ taught_class.class }}</h3>
                                                            <div class="progress mb-2 bg-secondary">
                                                                <div class="progress-bar progress-animated bg-light"
                                                                     style=""></div>
                                                            </div>
                                                            <small>میانگین کل
                                                                کلاس {{ taught_class|average_report_sheet_score }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div
                                    id="select-semester"
                                    class="tab-pane"
                                    role="tabpanel"
                            >
                                <div class="row">
                                    {% for semester in semesters %}
                                        <div class="col-lg-4 hoverable taught-class-item"
                                             onclick="setSelectedSemester({{ semester.id }})">
                                            <div class="widget-stat card bg-dark" id="semester-{{ semester.id }}">
                                                <div class="card-body p-4">
                                                    <div class="media">
                                                        <span class="me-3"><i class="la la-users"></i></span>
                                                        <div class="media-body text-white">
                                                            <p class="display-1 text-white">{{ semester.semester }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div
                                    id="enter-scores"
                                    class="tab-pane"
                                    role="tabpanel"
                            >
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header"><h4 class="card-title">فرم وارد کردن نمرات کارنامه
                                            ها</h4></div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-responsive-md">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:80px;"><strong>#</strong></th>
                                                        <th><strong>نام</strong></th>
                                                        <th style="width: 200px"><strong>نام خانوادگی</strong></th>
                                                        <th><strong>ترم</strong></th>
                                                        <th><strong>عنوان</strong></th>
                                                        <th><strong>نمره</strong></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for student in students %}
                                                        <tr>
                                                            <td><strong>{{ forloop.counter }}</strong></td>
                                                            <td>{{ student.profile.user.first_name }}</td>
                                                            <td>{{ student.profile.user.last_name }}</td>
                                                            <td>ترم {{ semester }}</td>
                                                            <td class="row gap-1" id="scores-{{ student.id }}">
                                                                <select class="default-select form-control report-sheet-type"
                                                                        data-student="{{ student.id }}"
                                                                        name="report-sheet-type">
                                                                    <option value="---" disabled selected>----------
                                                                    </option>
                                                                    <option value="1">
                                                                        تکوینی
                                                                    </option>
                                                                    <option value="2">
                                                                        نوبت
                                                                    </option>
                                                                    <option value="3">
                                                                        پایانی
                                                                    </option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" name="score" id="score-{{ student.id }}"
                                                                       class="form-control w-50 score" placeholder="ثبت نیست"
                                                                       data-student="{{ student.id }}">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.report-sheet-type').on('change', function (event) {
            // 'this' refers to the .report-sheet-type element that was changed.
            let score_type = $(this).val(); // Use val() to get the value
            let student_id = $(this).attr('data-student');
            let semester = "{{ semester }}"; // Ensure this script runs on a server-side template
            let taughtClass = "{{ taught_class }}"; // Ensure this script runs on a server-side template


            $.ajax({
                url: `/panel/scores/get-report-sheet-score/?student_id=${student_id}&semester_id=${semester}&taught_class=${taughtClass}&score_type=${score_type}`,
                type: 'GET',
                // Add success and error handlers as needed
                success: function(response) {
                    console.log(response)
                    $(`#score-${student_id}`).val(response.report_sheet_score);
                },
                error: function(error) {
                    toastr.error('مشکلی در اتصال با سرور پیش آمد. لطفا دوباره تلاش کنید.', 'خطا❗')
                }
            });
        });
        $('.score').on('change', function (event) {
            // 'this' refers to the .report-sheet-type element that was changed.
            let score_type = $(`.report-sheet-type[data-student=${$(this).attr('data-student')}]`).val(); // Use val() to get the value
            let student = $(this).attr('data-student');
            let semester = "{{ semester }}";
            let taughtClass = "{{ taught_class }}"; // Ensure this script runs on a server-side template
            let report_sheet_score = $(this).val()


            $.ajax({
                url: `/panel/scores/update-report-sheet-score/`,
                type: 'PUT',
                data: {
                    "report_sheet_score": report_sheet_score,
                    "student": student,
                    "taught_class": taughtClass,
                    "semester": semester,
                    "score_type": score_type,

                },
                dataType: 'json',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                // Add success and error handlers as needed
                success: function(response) {
                    $(`#score-${student}`).val(response.report_sheet_score);
                },
                error: function(error) {
                    toastr.error('مشکلی در اتصال با سرور پیش آمد. لطفا دوباره تلاش کنید.', 'خطا❗')
                }
            });
        });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Check if this cookie string begins with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(document).ready(function () {
            localStorage.setItem('semester', false);
            $("#smartwizard").smartWizard();
            $('.btn.btn-primary.sw-btn-next').addClass('disabled')
            $(".btn.btn-primary.sw-btn-next").on('click', function () {
                if (localStorage.getItem('class_id') && localStorage.getItem('semester') !== 'false') {
                    location.href = `/panel/scores/manage/report-sheet/${localStorage.getItem('class_id')}/${localStorage.getItem('semester')}#enter-scores`
                }
            })
            $(".btn.btn-primary.sw-btn-prev").on('click', function () {
                if (location.href.endsWith('#select-semester')) {
                    location.href = '/panel/scores/manage/report-sheet/';
                } else if (location.href.endsWith('#enter-scores')) {
                    location.href = '/panel/scores/manage/report-sheet#select-semester';
                }
            })
        });

        // select the class in Score Management Page
        function setSelectedClass(id) {
            try {
                document.getElementById(`class-${localStorage.getItem('class_id')}`).classList.remove('bg-primary')
            } catch {
            }
            localStorage.setItem('class_id', id)
            $('.btn.btn-primary.sw-btn-next').removeClass('disabled')
            document.getElementById(`class-${id}`).classList.add('bg-primary')
        }

        // select the semester in Score Management Page
        function setSelectedSemester(id) {
            try {
                document.getElementById(`semester-${localStorage.getItem('semester')}`).classList.remove('bg-primary')
            } catch (err) {
            }
            localStorage.setItem('semester', id)
            $('.btn.btn-primary.sw-btn-next').removeClass('disabled')
            document.getElementById(`semester-${id}`).classList.add('bg-primary')
        }

        function getSelectedClass() {
            return localStorage.getItem('class_id')
        }
    </script>
{% endblock %}